<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	

	<div class="page-header">
	  <h3>Welcome {{ currentUser.first_name }} - this is your dash</h3>
	</div>
	
	<div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
		<div class="row" ng-repeat="ballnight in data">
			<div class="post">
				<a ng-href="#/bballnight/{{ ballnight.bball_date }}/roster">
					<p class="calendar">{{ ballnight.bball_date | date:  'dd' }}<em>{{ ballnight.bball_date | date:  'MMMM' }}</em></p>
				</a>
			</div>
			
		</div>
		
	</div>	


</div>
