<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<h3>Welcome {{ currentUser.first_name }}</h3>
	<p># of nights is {{ count }}</p>	


	<div class="panel panel-info" ng-repeat="(key, ballnight) in data| orderBy: 'bball_date'">
		<div class="panel-heading">
			<h2 class="panel-title">
				<span class="badge">{{ ballnight.counter }}</span>
				{{ ballnight.bball_date | date:  'EEE M/dd/yyyy' }}
				
			</h2>
		</div>
		<div class="panel-body">
			<p>
				<a href="#/bballnight/{{ ballnight.bball_date}}/roster">Roster:</a>
			</p>
			
				<span class="label label-primary playername" ng-repeat="player in ballnight.roster">
					{{ player.first_name }} {{ player.last_name }}
				</span>
				
			
		</div>
		<div class="panel-footer">
			
			
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
			  <div class="btn-group" role="group">
			    <button type="button" class="btn btn-default" ng-click="checkin(ballnight, currentUser)">Add Me</button>
			  </div>
			  <div class="btn-group" role="group">
			    <button type="button" class="btn btn-default" ng-click="checkout(ballnight, currentUser)">Remove Me</button>
			  </div>
			  <div class="btn-group" role="group">
			    <button type="button" class="btn btn-default">Wailist</button>
			  </div>
			</div>
		</div>
	</div>

</div>
<pre>
{{ data | json }}
</pre>